<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
	<!-- BOOTSTRAP - Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> 
</head>
<body>
	<div align="center">

		<div>
			<h4>Di seguito i dettagli della foto</h4>
		</div>
		<div>
		Titolo: <span th:text="${foto.titolo}"></span>
		</div>
		<div>
		Fotografo: <span th:text="${foto.fotografo}"></span>
		</div>
		<div>
		Album: <span th:text="${foto.album}"></span>
		</div>
		<div>
	    	<img class="bd-placeholder-img card-img-top"  th:src="${foto.url}"  role="img"><title>Placeholder</title></img>
		</div>
		
		</br>
		<a th:href="@{'/foto/removeByID/' + ${foto.id}}">Rimuovi foto</a>
		</br>
		<a href="/allFotos"> Torna alle altre foto</a>
		
	</div>
</body>
</html>
