<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
	<!-- BOOTSTRAP - Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> 

</head>
<body>
	<div align="center">
	<div>
		<h4>Lista di richieste ricevute</h4>
	</div>
	
	<ul>
		<li th:each="richiesta : ${richieste}"> 
			<a th:href="@{'/rimuoviId/' + ${richiesta.id}}" th:text="'Accetta la richiesta da:' + ${richiesta.email}"></a>
		</li>
	</ul>
	</br>
	<a href="/index">Naviga il sito</a>
	</br> 
	</div>
</body>
</html>