<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Back-Office SILPH</title>
    <!-- BOOTSTRAP - Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> 
</head>
<body>
<div align="center">
<h1>Benvenuto admin <span th:utext="${username}"></span>!</h1>

	<ul>
		<li><a href="/aggiungiFoto">Aggiungi Foto</a></li>
		<li><a href="/allFotos">Gestisci Foto</a></li>
		<li><a href="/allRequest">Gestisci Richieste</a></li>
	</ul>

	
	</br>
	<a href="/index">Naviga il sito</a>
	</br>
	<a href="/logout">Logout</a>
</div>
</body>
</html>